        .caja {
      width: 100px;
      height: 100px;
      border: 1px solid #333;
      display: inline-block;
      margin: 8px;
      text-align: center;
      vertical-align: top;
      line-height: 100px;
      user-select: none;
    }